doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
        script(type='text/javascript', src='/javascripts/jQuery.js')
        script(type='text/javascript', src='/javascripts/bootstrap.min.js')
        script(type='text/javascript', src='javascripts/custom.js')
        link(rel='stylesheet', href='/stylesheets/moveme.css')
    body
        block content
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') MoveMe
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/') Home
                    li
                        a(href='blog') Blog
                    li
                        a(href='clients') Clients
                    li
                        a(href='contact') Contact
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Social
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='http://www.facebook.com') Facebook
                            li
                                a(href='http://www.twitter.com') Twitter
                            li
                                a(href='https://plus.google.com') Google+
                            li
                                a(href='http://www.linkedin.com') LinkedIn
        .intro-block
            .container
                .row
                    .col-xs-3
                        img.img-responsive.tpad(src='images/moveMe.png')
                    .col-xs-9
                        h1
                            | MOVE ME
                            span.text-muted » Blog
                        p.lead The latest developments, thoughts, updates and work of the Move Me team.
        // End Intro Text
        .container.padded
            .row
                .col-sm-8.blog
                    section
                        h1
                            a(href='#') Enhancing Existing Features
                        p.lead
                            a(href='index.html') Infinite Skills
                        hr
                        p
                            span.glyphicon.glyphicon-time
                            | Posted on Oct 28, 2013 at 11:00 AM
                        hr
                        img.img-responsive(src='images/blog1.jpg')
                        hr
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        a.btn.btn-primary(href='#') Read More »
                        hr
                    section
                        h1
                            a(href='#') Speed Mode Boosted
                        p.lead
                            a(href='index.html') Infinite Skills
                        hr
                        p
                            span.glyphicon.glyphicon-time
                            | Posted on Oct 28, 2013 at 11:00 AM
                        hr
                        img.img-responsive(src='images/blog2.jpg')
                        hr
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        a.btn.btn-primary(href='#') Read More »
                        hr
                    section
                        h1
                            a(href='#') Safe Mode Reaches Public Beta
                        p.lead
                            a(href='index.html') Infinite Skills
                        hr
                        p
                            span.glyphicon.glyphicon-time
                            | Posted on Oct 28, 2013 at 11:00 AM
                        hr
                        img.img-responsive(src='images/blog3.jpg')
                        hr
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        a.btn.btn-primary(href='#') Read More »
                        hr
                    ul.pagination
                        li
                            a(href='#') «
                        li.active
                            a(href='#') 1
                        li
                            a(href='#') 2
                        li
                            a(href='#') 3
                        li
                            a(href='#') 4
                        li
                            a(href='#') 5
                        li
                            a(href='#') »
                .col-sm-4.sidebar
                    section
                        h3.tpad Search
                        .input-group.input-group-lg.tpad
                            span.input-group-addon.glyphicon.glyphicon-search
                            input.form-control.input-lg(type='text', placeholder='Search')
                            span.input-group-btn
                                button.btn.btn-default(type='button') Go!
                        hr
                    section
                        h3.tpad Tags
                        .list-group.tpad
                            a.list-group-item.active(href='#')
                                span.badge 38
                                | All tags
                            a.list-group-item(href='#')
                                span.badge 14
                                | Speed Mode
                            a.list-group-item(href='#')
                                span.badge 9
                                | Eco Friendly
                            a.list-group-item(href='#')
                                span.badge 7
                                | Scenic Mode
                            a.list-group-item(href='#')
                                span.badge 5
                                | Safe Mode
                            a.list-group-item(href='#')
                                span.badge 27
                                | New Additions
                        hr
                    section
                        h3.tpad Latest from Twitter
                        .media.tpad
                            a.pull-left(href='#')
                                img.media-object(src='images/user.jpg', alt='user')
                            .media-body
                                h4.media-heading @Jimmy
                                p.bpad
                                    | Can't believe how good this @MoveMe app is, just took 20 minutes off my commute with #SpeedMode!
        // End Page Content
        .marketing
            .container
                .row
                    .col-sm-6
                        img.img-responsive(src='images/app.png')
                    .col-sm-6
                        h3.tpad ALWAYS ON HAND
                        hr
                        p
                            | Download the App for your device now and try it for yourself. No matter how regularly you make a journey this App will completely change the way you travel.
                        p
                            a.btn.btn-large.btn-primary(href='#') Get it now!
        // End Marketing Section
        .info
            .container
                .row
                    .col-sm-6.tabbable
                        // Tabs go here
                        ul#myTab.nav.nav-tabs
                            li.active
                                a(href='#android', data-toggle='tab') Android
                            li
                                a(href='#bb', data-toggle='tab') Blackberry
                            li
                                a(href='#ios', data-toggle='tab') iOS
                            li
                                a(href='#win', data-toggle='tab') Windows
                        .tab-content
                            #android.tab-pane.fade.in.active
                                p
                                    img.pull-right(src='images/gplay.jpg', alt='google')
                                    | Android... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.
                                    br
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty
                            #bb.tab-pane.fade.in
                                p
                                    img.pull-right(src='images/bbstore.jpg', alt='google')
                                    | Blackberry... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.
                                    br
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty
                            #ios.tab-pane.fade.in
                                p
                                    img.pull-right(src='images/appstore.jpg', alt='google')
                                    | iOS... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.
                                    br
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty
                            #win.tab-pane.fade.in
                                p
                                    img.pull-right(src='images/winstore.jpg', alt='google')
                                    | Windows... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.
                                    br
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star
                                    span.glyphicon.glyphicon-star-empty
                    .col-sm-4.col-sm-offset-2
                        // Quote go here
                        blockquote
                            p
                                | “This App has completely revolutionized the way we travel, we will never have to wait around in the rain for transport, we can time our day perfectly. I don't know how I ever lived without it.”
                            small
                                | James T. Kirk,
                                cite(title='source title') Starship Enterprise
        // info panel end
        .ftr
            .container
                .row
                    footer
                        .pull-left.ft_space
                            address
                                h3 MoveMe Inc.
                                | 200 Trafalgar Road
                                br
                                | Oakville, ON M6L 6Y9
                                br
                                a(href='mailto: first.last@moveme.com') hello@moveme.com
                                br
                                abbr(title='Phone') P:
                                | 906 123-4567
                        .pull-right.ft_space
                            img.img-responsive(src='images/moveMe.png')
                            p © MoveMe Inc. 2013

