doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
        script(type='text/javascript', src='/javascripts/jQuery.js')
        script(type='text/javascript', src='/javascripts/bootstrap.min.js')
        script(type='text/javascript', src='javascripts/custom.js')
        link(rel='stylesheet', href='/stylesheets/moveme.css')
    body
        block content
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') MoveMe
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/') Home
                    li
                        a(href='blog') Blog
                    li
                        a(href='clients') Clients
                    li
                        a(href='contact') Contact
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Social
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='http://www.facebook.com') Facebook
                            li
                                a(href='http://www.twitter.com') Twitter
                            li
                                a(href='https://plus.google.com') Google+
                            li
                                a(href='http://www.linkedin.com') LinkedIn
        .intro-block
            .container
                .row
                    .col-xs-3
                        img.img-responsive.tpad(src='images/moveMe.png')
                    .col-xs-9
                        h1
                            | MOVE ME
                            span.text-muted » Clients
                        p.lead
                            | We work with some of the biggest companies in the world, take a look for yourself.
            // End Intro Text
            .container.padded
                .row
                    .col-lg-12
                        h2 Our Clients
                        hr
                        p
                            | Many corporate clients use us to help their employees to navigate in their daily work lives, business trips and clients meetups, find out what we can do for you.
                .row.tpad.myTooltip
                    .col-sm-6.col-md-3.bpad
                        a.thumbnail(href='#', data-toggle='tooltip', title='', data-original-title='client one')
                            img(src='images/client-logo1.png', alt='logo')
                    .col-sm-6.col-md-3.bpad
                        a.thumbnail(href='#', data-toggle='tooltip', title='', data-original-title='client two')
                            img(src='images/client-logo2.png', alt='logo')
                    .col-sm-6.col-md-3.bpad
                        a.thumbnail(href='#', data-toggle='tooltip', title='', data-original-title='client three')
                            img(src='images/client-logo3.png', alt='logo')
                    .col-sm-6.col-md-3.bpad
                        a.thumbnail(href='#', data-toggle='tooltip', title='', data-original-title='client four')
                            img(src='images/client-logo4.png', alt='logo')
                    .col-sm-6.col-md-3.bpad
                        a.thumbnail(href='#', data-toggle='tooltip', title='', data-original-title='client five')
                            img(src='images/client-logo5.png', alt='logo')
                    .col-sm-6.col-md-3.bpad
                        a.thumbnail(href='#', data-toggle='tooltip', title='', data-original-title='client six')
                            img(src='images/client-logo6.png', alt='logo')
                    .col-sm-6.col-md-3.bpad
                        a.thumbnail(href='#', data-toggle='tooltip', title='', data-original-title='client seven')
                            img(src='images/client-logo7.png', alt='logo')
                    .col-sm-6.col-md-3.bpad
                        a.thumbnail(href='#', data-toggle='tooltip', title='', data-original-title='client eight')
                            img(src='images/client-logo8.png', alt='logo')
                .row
                    .col-lg-12
                        #accordion.panel-group
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordian-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                                            span.glyphicon.glyphicon-briefcase
                                            | Corporate Clients
                                #collapseOne.panel-collapse.collapse
                                    .panel-body
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac est luctus, cursus elit ac, convallis eros. Integer lobortis hendrerit ante id facilisis. Suspendisse commodo augue ac orci lobortis vulputate. Donec posuere vitae lectus et ornare. Cras tincidunt libero et ipsum consectetur, vel posuere dolor tempor. Integer a dui eget ipsum elementum sodales. Fusce vel justo tincidunt, facilisis ligula sed, porttitor lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;.
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordian-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                                            span.glyphicon.glyphicon-barcode
                                            | Commercial Clients
                                #collapseTwo.panel-collapse.collapse
                                    .panel-body
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac est luctus, cursus elit ac, convallis eros. Integer lobortis hendrerit ante id facilisis. Suspendisse commodo augue ac orci lobortis vulputate. Donec posuere vitae lectus et ornare. Cras tincidunt libero et ipsum consectetur, vel posuere dolor tempor. Integer a dui eget ipsum elementum sodales. Fusce vel justo tincidunt, facilisis ligula sed, porttitor lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;.
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordian-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                                            span.glyphicon.glyphicon-phone
                                            | App Store Customers
                                #collapseThree.panel-collapse.collapse
                                    .panel-body
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac est luctus, cursus elit ac, convallis eros. Integer lobortis hendrerit ante id facilisis. Suspendisse commodo augue ac orci lobortis vulputate. Donec posuere vitae lectus et ornare. Cras tincidunt libero et ipsum consectetur, vel posuere dolor tempor. Integer a dui eget ipsum elementum sodales. Fusce vel justo tincidunt, facilisis ligula sed, porttitor lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;.
            // End Page Content
            .marketing
                .container
                    .row
                        .col-sm-6
                            img.img-responsive(src='images/app.png')
                        .col-sm-6
                            h3.tpad ALWAYS ON HAND
                            hr
                            p
                                | Download the App for your device now and try it for yourself. No matter how regularly you make a journey this App will completely change the way you travel.
                            p
                                a.btn.btn-large.btn-primary(href='#') Get it now!
            // End Marketing Section
            .info
                .container
                    .row
                        .col-sm-6.tabbable
                            // Tabs go here
                            ul#myTab.nav.nav-tabs
                                li.active
                                    a(href='#android', data-toggle='tab') Android
                                li
                                    a(href='#bb', data-toggle='tab') Blackberry
                                li
                                    a(href='#ios', data-toggle='tab') iOS
                                li
                                    a(href='#win', data-toggle='tab') Windows
                            .tab-content
                                #android.tab-pane.fade.in.active
                                    p
                                        img.pull-right(src='images/gplay.jpg', alt='google')
                                        | Android... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.
                                        br
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star-empty
                                #bb.tab-pane.fade.in
                                    p
                                        img.pull-right(src='images/bbstore.jpg', alt='google')
                                        | Blackberry... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.
                                        br
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star-empty
                                #ios.tab-pane.fade.in
                                    p
                                        img.pull-right(src='images/appstore.jpg', alt='google')
                                        | iOS... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.
                                        br
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star-empty
                                #win.tab-pane.fade.in
                                    p
                                        img.pull-right(src='images/winstore.jpg', alt='google')
                                        | Windows... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.
                                        br
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star-empty
                        .col-sm-4.col-sm-offset-2
                            // Quote go here
                            blockquote
                                p
                                    | “This App has completely revolutionized the way we travel, we will never have to wait around in the rain for transport, we can time our day perfectly. I don't know how I ever lived without it.”
                                small
                                    | James T. Kirk,
                                    cite(title='source title') Starship Enterprise
            // info panel end
            .ftr
                .container
                    .row
                        footer
                            .pull-left.ft_space
                                address
                                    h3 MoveMe Inc.
                                    | 200 Trafalgar Road
                                    br
                                    | Oakville, ON M6L 6Y9
                                    br
                                    a(href='mailto: first.last@moveme.com') hello@moveme.com
                                    br
                                    abbr(title='Phone') P:
                                    | 906 123-4567
                            .pull-right.ft_space
                                img.img-responsive(src='images/moveMe.png')
                                p © MoveMe Inc. 2013


